rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowed() {
      return request.auth != null && exists(/databases/$(database)/documents/allowed_users/$(request.auth.token.email));
    }

    match /allowed_users/{email} {
      allow read: if isAllowed();
      allow create: if false;
      allow update: if isAllowed() && request.resource.data.diff(resource.data).affectedKeys().hasOnly(["name"]);
      allow delete: if false;
    }

    match /tasks/{taskId} {
      allow read: if isAllowed() && (resource.data.ownerEmail == request.auth.token.email || !("hidden" in resource.data) || resource.data.hidden != true);
      allow create: if isAllowed() && request.resource.data.createdByEmail == request.auth.token.email;
      allow update: if isAllowed() && resource.data.ownerEmail == request.auth.token.email;
      allow delete: if isAllowed() && resource.data.ownerEmail == request.auth.token.email;
    }

    match /custom_lists/{listId} {
      allow read: if isAllowed() && (resource.data.ownerEmail == request.auth.token.email || !("hidden" in resource.data) || resource.data.hidden != true);
      allow create: if isAllowed() && request.resource.data.createdByEmail == request.auth.token.email;
      allow update: if isAllowed() && resource.data.ownerEmail == request.auth.token.email && request.resource.data.diff(resource.data).affectedKeys().hasOnly(["name", "icon", "hidden", "order", "deleted", "deletedAt"]);
      allow delete: if isAllowed() && resource.data.ownerEmail == request.auth.token.email;
    }

    match /stats/{email} {
      allow read: if isAllowed();
      allow write: if isAllowed() && email == request.auth.token.email;
    }

    match /ui_state/{email} {
      allow read: if isAllowed();
      allow write: if isAllowed() && email == request.auth.token.email;
    }
  }
}
